html {
  --orange-clr: #de8948;
  --white-clr: #e4dfd8;
  --l-font: 6rem;
  --sl-font: 3.5rem;
  --med-font: 2.5rem;
  --snormal-font: 2rem;
  --normal-font: 1.6rem;
  --s-font: 1.4rem;
  --l-padding: 3rem;
  --med-padding: 2rem;
  --s-padding: 1.2rem;
  --transition: 0.3s;
  --long-transition: 0.5s;
  --letter-spacing: 0.2rem;
  --height: 70px;
}
